{
  "openapi": "3.1.0",
  "info": {
    "title": "RemOnline Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.remonline.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/token/new": {
      "post": {
        "summary": "Authentication",
        "description": "Method to obtain an authentication token.",
        "operationId": "authentication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API Key",
                    "default": "69bcf53f2cb54c878573c535174fa93b"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"token\": \"e227e0639227a9884e2cce7be7f356518971b876\",\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "e227e0639227a9884e2cce7be7f356518971b876"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 111,\n    \"success\": false,\n    \"message\": \"Unable to log you in. Check your api_key and try again.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 111,
                      "default": 0
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unable to log you in. Check your api_key and try again."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/lead/": {
      "get": {
        "summary": "Get Leads",
        "description": "Get the list of leads.",
        "operationId": "get-leads",
        "parameters": [
          {
            "name": "ids[]",
            "in": "query",
            "description": "List of Lead IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "id_labels[]",
            "in": "query",
            "description": "Array of Leads document numbers",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses[]",
            "in": "query",
            "description": "Array of Lead Status IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "managers[]",
            "in": "query",
            "description": "Array of Employee IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "client_names[]",
            "in": "query",
            "description": "List of client names",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "client_phones[]",
            "in": "query",
            "description": "List of Client phone numbers",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "created_at[]",
            "in": "query",
            "description": "Filter by date of creation of leads. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "modified_at[]",
            "in": "query",
            "description": "Filter by date of modification of leads. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "closed_at[]",
            "in": "query",
            "description": "Filter by date of closing of leads. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Lead",
        "description": "Create new Lead. Parameters client_id or contact_phone + contact_name are required.",
        "operationId": "create-lead",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "leadtype_id"
                ],
                "properties": {
                  "client_id": {
                    "type": "integer",
                    "description": "Client ID",
                    "format": "int32"
                  },
                  "contact_phone": {
                    "type": "string",
                    "description": "Lead contact number must be set with contact_name if client_id is absent"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Lead contact name"
                  },
                  "leadtype_id": {
                    "type": "integer",
                    "description": "Lead type ID",
                    "format": "int32"
                  },
                  "is_juridical": {
                    "type": "boolean",
                    "description": "Does a lead contact is a legal entity"
                  },
                  "branch_id": {
                    "type": "integer",
                    "description": "Location ID",
                    "format": "int32"
                  },
                  "manager_id": {
                    "type": "integer",
                    "description": "Responsible manager ID",
                    "format": "int32"
                  },
                  "description": {
                    "type": "string",
                    "description": "Lead description"
                  },
                  "ad_campaign_id": {
                    "type": "integer",
                    "description": "Advertising campaign ID",
                    "format": "int32"
                  },
                  "is_urgent": {
                    "type": "boolean",
                    "description": "Is this Lead is urgent?"
                  },
                  "custom_fields": {
                    "type": "string",
                    "description": "pairs id: value",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n    {\n      \"id\": 75\n    }\n ,\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 75,
                          "default": 0
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Lead",
        "description": "Update existed lead.",
        "operationId": "update-lead",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lead_id",
                  "status_id"
                ],
                "properties": {
                  "lead_id": {
                    "type": "integer",
                    "description": "Lead ID",
                    "format": "int32"
                  },
                  "status_id": {
                    "type": "integer",
                    "description": "Status ID",
                    "format": "int32"
                  },
                  "client_id": {
                    "type": "integer",
                    "description": "Client ID",
                    "format": "int32"
                  },
                  "contact_phone": {
                    "type": "string",
                    "description": "Lead contact number"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Lead contact name"
                  },
                  "leadtype_id": {
                    "type": "integer",
                    "description": "Lead type ID",
                    "format": "int32"
                  },
                  "is_juridical": {
                    "type": "boolean",
                    "description": "Does a lead contact is a legal entity"
                  },
                  "branch_id": {
                    "type": "integer",
                    "description": "Location ID",
                    "format": "int32"
                  },
                  "manager_id": {
                    "type": "integer",
                    "description": "Responsible manager ID",
                    "format": "int32"
                  },
                  "description": {
                    "type": "string",
                    "description": "Lead description"
                  },
                  "ad_campaign_id": {
                    "type": "integer",
                    "description": "Advertising campaign ID",
                    "format": "int32"
                  },
                  "is_urgent": {
                    "type": "boolean",
                    "description": "Is this Lead is urgent?"
                  },
                  "custom_fields": {
                    "type": "string",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/lead/types/": {
      "get": {
        "summary": "Get Lead Types",
        "description": "Get the list of lead types.",
        "operationId": "get-lead-types",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 4,\n      \"name\": \"One\"\n    },\n    {\n      \"id\": 5,\n      \"name\": \"Two\"\n    },\n    {\n      \"id\": 6,\n      \"name\": \"Three\"\n    },\n    {\n      \"id\": 7,\n      \"name\": \"Four\"\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "One"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 4,
                      "default": 0
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/statuses/leads/": {
      "get": {
        "summary": "Get Lead Statuses",
        "description": "Returns a list of lead statuses.",
        "operationId": "get-lead-statuses",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/lead/status/": {
      "post": {
        "summary": "Change Lead Status",
        "description": "Change a status of the lead.",
        "operationId": "change-lead-status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lead_id",
                  "status_id"
                ],
                "properties": {
                  "lead_id": {
                    "type": "integer",
                    "description": "Lead ID",
                    "format": "int32"
                  },
                  "status_id": {
                    "type": "integer",
                    "description": "Status ID",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/lead/custom-fields/": {
      "get": {
        "summary": "Get Lead Custom Fields",
        "description": "Returns a list of lead custom fields.",
        "operationId": "get-lead-custom-fields",
        "parameters": [
          {
            "name": "leadtype_id",
            "in": "query",
            "description": "Specific lead type ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 6326298,\n      \"name\": \"Number test\",\n      \"type\": 6\n    },\n    {\n      \"id\": 3598280,\n      \"name\": \"Пол\",\n      \"type\": 3\n    },\n    {\n      \"id\": 6072189,\n      \"name\": \"data test\",\n      \"type\": 5\n    },\n    {\n      \"id\": 5396374,\n      \"name\": \"test\",\n      \"type\": 4\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 6326298,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Number test"
                          },
                          "type": {
                            "type": "integer",
                            "example": 6,
                            "default": 0
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 4,
                      "default": 0
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/order/custom-fields/": {
      "get": {
        "summary": "Get Order Custom Fields",
        "description": "Returns a list of order custom fields.",
        "operationId": "get-order-custom-fields",
        "parameters": [
          {
            "name": "ordertype_id",
            "in": "query",
            "description": "Specific order type ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 6326298,\n      \"name\": \"Number test\",\n      \"type\": 6\n    },\n    {\n      \"id\": 3598280,\n      \"name\": \"Пол\",\n      \"type\": 3\n    },\n    {\n      \"id\": 6072189,\n      \"name\": \"data test\",\n      \"type\": 5\n    },\n    {\n      \"id\": 5396374,\n      \"name\": \"test\",\n      \"type\": 4\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 6326298,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Number test"
                          },
                          "type": {
                            "type": "integer",
                            "example": 6,
                            "default": 0
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 4,
                      "default": 0
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/order/types/": {
      "get": {
        "summary": "Get Order Types",
        "description": "Get the list of lead types.",
        "operationId": "get-order-types",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 4,\n      \"name\": \"One\"\n    },\n    {\n      \"id\": 5,\n      \"name\": \"Two\"\n    },\n    {\n      \"id\": 6,\n      \"name\": \"Three\"\n    },\n    {\n      \"id\": 7,\n      \"name\": \"Four\"\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "One"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 4,
                      "default": 0
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/order/": {
      "get": {
        "summary": "Get Orders",
        "description": "Get the list of orders.",
        "operationId": "get-orders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "types[]",
            "in": "query",
            "description": "List of order type IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "branches[]",
            "in": "query",
            "description": "List of location IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "brands[]",
            "in": "query",
            "description": "Brands list",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ids[]",
            "in": "query",
            "description": "List of order IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "id_labels[]",
            "in": "query",
            "description": "Array of order document numbers",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses[]",
            "in": "query",
            "description": "Array of order status IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "managers[]",
            "in": "query",
            "description": "Array of employee IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "engineers[]",
            "in": "query",
            "description": "List of company employee IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "clients_ids[]",
            "in": "query",
            "description": "List of client IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "client_names[]",
            "in": "query",
            "description": "List of client names",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "client_phones[]",
            "in": "query",
            "description": "List of client phone numbers",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "created_at[]",
            "in": "query",
            "description": "Filter by the Order creation date.  An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "modified_at[]",
            "in": "query",
            "description": "Filter by the last modification date of the Order. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "done_at[]",
            "in": "query",
            "description": "Completion date filter. Single or two values with a timestamp. These are from and to parameters. Example: [1454277600000, 1456783200000], [1454277500000]",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "closed_at[]",
            "in": "query",
            "description": "Order closing date filter. Single or two values with a timestamp. These are from and to parameters. Example:  [1456783200000, 1454925794507], [1454277500000].",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "asset_uid[]",
            "in": "query",
            "description": "List of assets IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 45623419,\n      \"modified_at\": 1705320688000,\n      \"uuid\": \"852f9a47-caa7-430f-9df3-21bdc890fc08\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1705052511000,\n      \"done_at\": 1705054091000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"автовоз\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 96000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"8045016240\",\n        \"f7108510\": \"YSA-SIN23111302\",\n        \"f7111319\": \"FOB\",\n        \"f7111320\": \"Gdansk\",\n        \"f7111378\": 1704672000000,\n        \"f7111379\": 1710028800000\n      },\n      \"estimated_cost\": \"93000\",\n      \"closed_at\": 1705320688000,\n      \"estimated_done_at\": 1711359480000,\n      \"id_label\": \"A004\",\n      \"price\": 96000.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63350687,\n          \"entityId\": 39980056,\n          \"engineerId\": 236089,\n          \"title\": \"Mercedes Benz EQE 350 Top LE4GM1CBXPN005543\",\n          \"amount\": 1.000,\n          \"price\": 96000.00000,\n          \"cost\": 54500.00000,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30181056,\n        \"name\": \"Огульчанская Олеся\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380677451909\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1704888924000,\n        \"created_at\": 1704888924000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235882,\n      \"engineer_id\": 236089,\n      \"created_by_id\": 231956,\n      \"closed_by_id\": 235881,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4399119,\n        \"uid\": \"LE4GM1CBXPN005543\",\n        \"title\": \"Автомобіль Mersedes-Benz EQE 350 Top\",\n        \"color\": \"Light grey\",\n        \"state\": \"New\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Mersedes-Benz\",\n        \"model\": \"EQE 350\",\n        \"modification\": \"Top\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30362208,\n          \"name\": \"ЮСА\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > ЮСА > Комірка 1\",\n          \"id\": 3134051,\n          \"cell_id\": 3161007,\n          \"client_id\": 30362208\n        },\n        \"f3370046\": \"Відсутній\"\n      },\n      \"brand\": \"Mersedes-Benz\",\n      \"model\": \"EQE 350\"\n    },\n    {\n      \"id\": 45626729,\n      \"modified_at\": 1705320633000,\n      \"uuid\": \"e3cad9ab-8ddd-43af-87c1-5a096210a466\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1705059553000,\n      \"done_at\": 1705061249000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"Куда и сколько передать\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"8045016240\",\n        \"f7096058\": \"Шеньжень, Орхид\",\n        \"f7096059\": \"5900032\",\n        \"f7108510\": \"GUQI20240104\",\n        \"f7111319\": \"FOB\",\n        \"f7111320\": \"Gdansk\",\n        \"f7111378\": 1704672000000,\n        \"f7111379\": 1711324800000\n      },\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1705320633000,\n      \"estimated_done_at\": 1705577580000,\n      \"id_label\": \"D3\",\n      \"price\": 0.00,\n      \"branch_id\": 151755,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [\n        {\n          \"created_at\": 1705059540000,\n          \"created_by_id\": 231956,\n          \"filename\": \"1_2_1.4 Nissan Ariya Invoice(1).xls\",\n          \"url\": \"https://storage.remonline.app/uploads/134155/59da339616304edf91cfd75f9ba9bfdd.xls?\"\n        }\n      ],\n      \"order_type\": {\n        \"id\": 248824,\n        \"name\": \"Заказ Запчастей\"\n      },\n      \"client\": {\n        \"id\": 30127504,\n        \"name\": \"Антон Комаров\",\n        \"email\": \"solaritos320@gmail.com\",\n        \"phone\": [\n          \"0672550057\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1704860420000,\n        \"created_at\": 1704860420000,\n        \"discount_code\": \"\",\n        \"custom_fields\": {},\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 231956,\n      \"engineer_id\": 231956,\n      \"created_by_id\": 231956,\n      \"closed_by_id\": 231956,\n      \"ad_campaign\": {},\n      \"asset\": {},\n      \"brand\": \"\",\n      \"model\": \"\"\n    },\n    {\n      \"id\": 45684739,\n      \"modified_at\": 1705413110000,\n      \"uuid\": \"f806da78-b3b0-4934-bfd1-841017ac2af7\",\n      \"status\": {\n        \"id\": 1835795,\n        \"name\": \"Склад\",\n        \"color\": \"#53585C\",\n        \"group\": 4\n      },\n      \"created_at\": 1705412097000,\n      \"done_at\": 1705413110000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"В салоне посілка 0052\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"\",\n        \"f7108510\": \"YSA-SIN23111601\",\n        \"f7111319\": \"FOB\",\n        \"f7111320\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1713187920000,\n      \"id_label\": \"A009\",\n      \"price\": 78400.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63468284,\n          \"entityId\": 40188932,\n          \"engineerId\": 235891,\n          \"title\": \"byd song 2022\",\n          \"amount\": 1.000,\n          \"price\": 78400.00000,\n          \"cost\": 28000.00000,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30233308,\n        \"name\": \"Василь Дмитрієв\",\n        \"email\": \"v.dmytriev@orderry.com\",\n        \"phone\": [\n          \"546541646\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"вул. Шефська, 78\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1705412078000,\n        \"created_at\": 1705412078000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {\n          \"id\": 400204,\n          \"name\": \"Зовнішня реклама\"\n        }\n      },\n      \"manager_id\": 235891,\n      \"engineer_id\": 231956,\n      \"created_by_id\": 235891,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4436242,\n        \"uid\": \"9-0017\",\n        \"title\": \"Автомобіль BYD Song + \",\n        \"color\": \"Light grey\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"BYD\",\n        \"model\": \"Song +\",\n        \"modification\": \"\",\n        \"year\": \"2022\",\n        \"owner\": {\n          \"id\": 30233308,\n          \"name\": \"Василь Дмитрієв\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Василь Дмитрієв > Комірка 1\",\n          \"id\": 3097225,\n          \"cell_id\": 3123995,\n          \"client_id\": 30233308\n        }\n      },\n      \"brand\": \"BYD\",\n      \"model\": \"Song +\"\n    },\n    {\n      \"id\": 45795849,\n      \"modified_at\": 1706087712000,\n      \"uuid\": \"22a46503-c55c-46df-83a0-e5762e384e7f\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706086367000,\n      \"done_at\": 1706087712000,\n      \"scheduled_for\": 1706084700000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 3800.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [\n        {\n          \"id\": 101654,\n          \"name\": \"Підйомник 1\"\n        }\n      ],\n      \"custom_fields\": {\n        \"f5897291\": 20869\n      },\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706087712000,\n      \"estimated_done_at\": 1706092200000,\n      \"id_label\": \"E12\",\n      \"price\": 3800.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63700815,\n          \"entityId\": 40062379,\n          \"engineerId\": 235780,\n          \"title\": \"Масло 75W-90\",\n          \"amount\": 1.000,\n          \"price\": 800.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63701517,\n          \"entityId\": 40312679,\n          \"engineerId\": 235780,\n          \"title\": \"Фільтр салону\",\n          \"amount\": 1.000,\n          \"price\": 1100.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [\n        {\n          \"id\": 63700814,\n          \"entityId\": 40312005,\n          \"engineerId\": 235780,\n          \"title\": \"Інспекціонний сервіс\",\n          \"amount\": 1.000,\n          \"price\": 200.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63700816,\n          \"entityId\": 40312035,\n          \"engineerId\": 235780,\n          \"title\": \"Сброс сервісного інтервалу\",\n          \"amount\": 1.000,\n          \"price\": 500.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63700817,\n          \"entityId\": 39479300,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна масла в зад мосту\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63701516,\n          \"entityId\": 39479322,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна салонного фільтра\",\n          \"amount\": 1.000,\n          \"price\": 200.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30290851,\n        \"name\": \"Сокуренко Едуард\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380675789397\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706087682000,\n        \"created_at\": 1706086290000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4463253,\n        \"uid\": \"FVVB9E60N5026196\",\n        \"title\": \"Автомобіль Volkswagen ID.4 Crozz\",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"Crozz\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30290851,\n          \"name\": \"Сокуренко Едуард\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Сокуренко Едуард > Комірка 1\",\n          \"id\": 3114039,\n          \"cell_id\": 3140847,\n          \"client_id\": 30290851\n        },\n        \"group_icon\": \"i-asset0\",\n        \"f3370046\": \"АЕ 3155 YA\"\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45798467,\n      \"modified_at\": 1706185465000,\n      \"uuid\": \"85db2953-7a4b-4789-8056-b39d57ebf215\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706090375000,\n      \"done_at\": 1706174190000,\n      \"scheduled_for\": 1706167800000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 4000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [\n        {\n          \"id\": 101654,\n          \"name\": \"Підйомник 1\"\n        }\n      ],\n      \"custom_fields\": {\n        \"f5897291\": 27000\n      },\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706185465000,\n      \"estimated_done_at\": 1706176800000,\n      \"id_label\": \"E13\",\n      \"price\": 4000.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63705387,\n          \"entityId\": 40314213,\n          \"engineerId\": 235780,\n          \"title\": \"Олива 75W-80\",\n          \"amount\": 1.000,\n          \"price\": 800.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63705392,\n          \"entityId\": 40312679,\n          \"engineerId\": 235780,\n          \"title\": \"Фільтр салону\",\n          \"amount\": 1.000,\n          \"price\": 1100.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [\n        {\n          \"id\": 63705388,\n          \"entityId\": 40314238,\n          \"engineerId\": 235780,\n          \"title\": \"Інспекційний сервіс\",\n          \"amount\": 1.000,\n          \"price\": 200.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63705389,\n          \"entityId\": 40314247,\n          \"engineerId\": 235780,\n          \"title\": \"Зкидання сервісного інтервалу\",\n          \"amount\": 1.000,\n          \"price\": 500.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63705390,\n          \"entityId\": 40314431,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи в зад. мосту\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63705391,\n          \"entityId\": 39479322,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна салонного фільтра\",\n          \"amount\": 1.000,\n          \"price\": 200.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63705393,\n          \"entityId\": 40314487,\n          \"engineerId\": 235780,\n          \"title\": \"Комп'ютерна діагностика + Видалення помилок\",\n          \"amount\": 1.000,\n          \"price\": 200.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30291808,\n        \"name\": \"ID. 4\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380671717179\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706090339000,\n        \"created_at\": 1706090339000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4463770,\n        \"uid\": \"LSVUC6E40M2024359\",\n        \"title\": \"Автомобіль Volkswagen ID.4 \",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30291808,\n          \"name\": \"ID. 4\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > ID. 4 > Комірка 1\",\n          \"id\": 3114337,\n          \"cell_id\": 3141145,\n          \"client_id\": 30291808\n        },\n        \"group_icon\": \"i-asset0\",\n        \"f3370046\": \"AE 0001 YY\"\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45800663,\n      \"modified_at\": 1706095154000,\n      \"uuid\": \"8651b78d-eb9d-4a05-8006-1965aa9ea8d4\",\n      \"status\": {\n        \"id\": 1845416,\n        \"name\": \"Подбор Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706095079000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1716981240000,\n      \"id_label\": \"D4\",\n      \"price\": 0.00,\n      \"branch_id\": 151755,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30292813,\n        \"name\": \"Alexander\",\n        \"email\": \"electri4ka.dp@gmail.com\",\n        \"phone\": [\n          \"74651916516\"\n        ],\n        \"notes\": \"Инвестор\",\n        \"address\": \"Дніпро\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706095068000,\n        \"created_at\": 1706095020000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"2161962165495\"\n        },\n        \"ad_campaign\": {\n          \"id\": 400205,\n          \"name\": \"Інтернет\"\n        }\n      },\n      \"manager_id\": 235881,\n      \"engineer_id\": 231956,\n      \"created_by_id\": 235881,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4464300,\n        \"uid\": \"9-0021\",\n        \"title\": \"Автомобіль Bentley Arnaget \",\n        \"color\": \"dgr\",\n        \"state\": \"new\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Bentley\",\n        \"model\": \"Arnaget\",\n        \"modification\": \"\",\n        \"year\": \"2022\",\n        \"owner\": {\n          \"id\": 30292813,\n          \"name\": \"Alexander\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Alexander > Комірка 1\",\n          \"id\": 3114628,\n          \"cell_id\": 3141436,\n          \"client_id\": 30292813\n        }\n      },\n      \"brand\": \"Bentley\",\n      \"model\": \"Arnaget\"\n    },\n    {\n      \"id\": 45800910,\n      \"modified_at\": 1706100111000,\n      \"uuid\": \"02c6a7a0-5ff6-4a2c-8e7c-204ef5d7188e\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706095720000,\n      \"done_at\": 1706100111000,\n      \"scheduled_for\": 1706095800000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 1000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": 1775\n      },\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706100111000,\n      \"estimated_done_at\": 1706101200000,\n      \"id_label\": \"E14\",\n      \"price\": 1000.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [\n        {\n          \"id\": 63710708,\n          \"entityId\": 40316800,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи в передньому редукторі\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30292933,\n        \"name\": \"Похилюк Євген\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380664492000\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706097135000,\n        \"created_at\": 1706095612000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4464351,\n        \"uid\": \"LHGRS2832P8007481\",\n        \"title\": \"Автомобіль Honda e:NP1 \",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Honda\",\n        \"model\": \"e:NP1\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30292933,\n          \"name\": \"Похилюк Євген\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Похилюк Євген > Комірка 1\",\n          \"id\": 3114658,\n          \"cell_id\": 3141466,\n          \"client_id\": 30292933\n        },\n        \"group_icon\": \"\",\n        \"f3370046\": \"AE 1090 YB\"\n      },\n      \"brand\": \"Honda\",\n      \"model\": \"e:NP1\"\n    },\n    {\n      \"id\": 45805545,\n      \"modified_at\": 1706107929000,\n      \"uuid\": \"1bc6cee7-d158-4378-b550-242cf35d3199\",\n      \"status\": {\n        \"id\": 1845416,\n        \"name\": \"Подбор Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706106931000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 6000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"100% предоплата\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"27500\",\n      \"estimated_done_at\": 1713882600000,\n      \"id_label\": \"A010\",\n      \"price\": 0.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30295001,\n        \"name\": \"Игорь Пробник\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380975432478\"\n        ],\n        \"notes\": \"толстый депутат, был с женой, которая хотела аватр\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706106122000,\n        \"created_at\": 1706106122000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235882,\n      \"engineer_id\": 233068,\n      \"created_by_id\": 235882,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4465397,\n        \"uid\": \"9-0023\",\n        \"title\": \"Автомобіль Volkswagen ID.4 PRO\",\n        \"color\": \"бівень буйвола\",\n        \"state\": \"афігєніний\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"PRO\",\n        \"year\": \"2023\",\n        \"owner\": {\n          \"id\": 30295001,\n          \"name\": \"Игорь Пробник\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Игорь Пробник > Комірка 1\",\n          \"id\": 3115287,\n          \"cell_id\": 3142095,\n          \"client_id\": 30295001\n        }\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45811837,\n      \"modified_at\": 1706172784000,\n      \"uuid\": \"8ff5d5f0-2870-4826-a2bb-3c58262eb8df\",\n      \"status\": {\n        \"id\": 1835795,\n        \"name\": \"Склад\",\n        \"color\": \"#53585C\",\n        \"group\": 4\n      },\n      \"created_at\": 1706170882000,\n      \"done_at\": 1706172762000,\n      \"scheduled_for\": 1706781600000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 50000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 2000.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": \"\",\n        \"f7096057\": \"44444555555\",\n        \"f7108510\": \"inv-001250123\",\n        \"f7111319\": \"fob\",\n        \"f7111320\": \"gdansk\",\n        \"f7111378\": 1706745600000,\n        \"f7111379\": 1710374400000,\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"96000\",\n      \"estimated_done_at\": 1713946620000,\n      \"id_label\": \"A011\",\n      \"price\": 110000.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63737595,\n          \"entityId\": 40329160,\n          \"engineerId\": 236425,\n          \"title\": \"Ferrari 450\",\n          \"amount\": 1.000,\n          \"price\": 110000.00000,\n          \"cost\": 30000.00000,\n          \"discount_value\": 2000.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30297805,\n        \"name\": \"Новій\",\n        \"email\": \"\",\n        \"phone\": [\n          \"99999999999\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706169931000,\n        \"created_at\": 1706169931000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {\n          \"id\": 400204,\n          \"name\": \"Зовнішня реклама\"\n        }\n      },\n      \"manager_id\": 231956,\n      \"engineer_id\": 236425,\n      \"created_by_id\": 231956,\n      \"ad_campaign\": {\n        \"id\": 400204,\n        \"name\": \"Зовнішня реклама\"\n      },\n      \"asset\": {\n        \"id\": 4466783,\n        \"uid\": \"9-0025\",\n        \"title\": \"Автомобіль Ferrari F450 \",\n        \"color\": \"red\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Ferrari\",\n        \"model\": \"F450\",\n        \"modification\": \"\",\n        \"year\": \"2018\",\n        \"owner\": {\n          \"id\": 30297805,\n          \"name\": \"Новій\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Новій > Комірка 1\",\n          \"id\": 3116144,\n          \"cell_id\": 3142951,\n          \"client_id\": 30297805\n        }\n      },\n      \"brand\": \"Ferrari\",\n      \"model\": \"F450\"\n    },\n    {\n      \"id\": 45812847,\n      \"modified_at\": 1706173010000,\n      \"uuid\": \"443dc3e7-86db-4eff-bd1f-62661e54e7be\",\n      \"status\": {\n        \"id\": 1845415,\n        \"name\": \"Замовлення на Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706173010000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": \"\",\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1713948720000,\n      \"id_label\": \"A012\",\n      \"price\": 0.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30228039,\n        \"name\": \"Барон Мюнхаузен\",\n        \"email\": \"\",\n        \"phone\": [\n          \"0977777777\"\n        ],\n        \"notes\": \"с усами, приезжал на лошади. интересует бентлі 2 штуки, набрать 32.02.\",\n        \"address\": \"вул Пушкина дом Калатушкина\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": true,\n        \"modified_at\": 1705388947000,\n        \"created_at\": 1705387830000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\"\n        },\n        \"ad_campaign\": {\n          \"id\": 400203,\n          \"name\": \"Знайомі\"\n        }\n      },\n      \"manager_id\": 235882,\n      \"engineer_id\": 233068,\n      \"created_by_id\": 235882,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4467044,\n        \"uid\": \"9-0026\",\n        \"title\": \"Автомобіль Audi e-tron q8\",\n        \"color\": \"grey\",\n        \"state\": \"new\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Audi\",\n        \"model\": \"e-tron\",\n        \"modification\": \"q8\",\n        \"year\": \"2023\",\n        \"owner\": {\n          \"id\": 30228039,\n          \"name\": \"Барон Мюнхаузен\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Барон Мюнхаузен > Комірка 1\",\n          \"id\": 3095641,\n          \"cell_id\": 3122353,\n          \"client_id\": 30228039\n        }\n      },\n      \"brand\": \"Audi\",\n      \"model\": \"e-tron\"\n    },\n    {\n      \"id\": 45817236,\n      \"modified_at\": 1706182362000,\n      \"uuid\": \"c78bda67-e4a8-49b1-9848-aed7309a0b79\",\n      \"status\": {\n        \"id\": 1845415,\n        \"name\": \"Замовлення на Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706182362000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"34000\",\n      \"estimated_done_at\": 1713958260000,\n      \"id_label\": \"A013\",\n      \"price\": 0.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30300344,\n        \"name\": \"Щапкова Катерина Зікр Х\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380967852730\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706181542000,\n        \"created_at\": 1706181542000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Мікулін Олексій\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235882,\n      \"engineer_id\": 233068,\n      \"created_by_id\": 235882,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4468107,\n        \"uid\": \"9-0027\",\n        \"title\": \"Автомобіль Zeekr X 4WD 4seats\",\n        \"color\": \"pink\\\\red-white\",\n        \"state\": \"new\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Zeekr\",\n        \"model\": \"X\",\n        \"modification\": \"4WD 4seats\",\n        \"year\": \"2024\",\n        \"owner\": {\n          \"id\": 30300344,\n          \"name\": \"Щапкова Катерина Зікр Х\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Щапкова Катерина Зікр Х > Комірка 1\",\n          \"id\": 3116901,\n          \"cell_id\": 3143709,\n          \"client_id\": 30300344\n        }\n      },\n      \"brand\": \"Zeekr\",\n      \"model\": \"X\"\n    },\n    {\n      \"id\": 45818905,\n      \"modified_at\": 1706188516000,\n      \"uuid\": \"f34f0804-2958-4411-902b-41c446eaac1f\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706186440000,\n      \"done_at\": 1706188516000,\n      \"scheduled_for\": 1706186400000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 2500.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [\n        {\n          \"id\": 101654,\n          \"name\": \"Підйомник 1\"\n        }\n      ],\n      \"custom_fields\": {},\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706188516000,\n      \"estimated_done_at\": 1706193000000,\n      \"id_label\": \"E15\",\n      \"price\": 2500.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63751522,\n          \"entityId\": 40314213,\n          \"engineerId\": 235780,\n          \"title\": \"Олива 75W-80\",\n          \"amount\": 1.500,\n          \"price\": 800.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [\n        {\n          \"id\": 63751521,\n          \"entityId\": 40336608,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи у передьому редукторі\",\n          \"amount\": 1.000,\n          \"price\": 1300.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30301266,\n        \"name\": \"Honda e:NS1\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380506914944\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706186098000,\n        \"created_at\": 1706186098000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Комаров Антон\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4468512,\n        \"uid\": \"LVHRS1850N5008061\",\n        \"title\": \"Автомобіль Honda e:NS1 \",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Honda\",\n        \"model\": \"e:NS1\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30301266,\n          \"name\": \"Honda e:NS1\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Honda e:NS1 > Комірка 1\",\n          \"id\": 3117137,\n          \"cell_id\": 3143945,\n          \"client_id\": 30301266\n        },\n        \"group_icon\": \"\",\n        \"f3370046\": \"AE 9700 OC\"\n      },\n      \"brand\": \"Honda\",\n      \"model\": \"e:NS1\"\n    },\n    {\n      \"id\": 45819097,\n      \"modified_at\": 1706188855000,\n      \"uuid\": \"7fc12068-2a28-4bec-9939-568b54a4ec17\",\n      \"status\": {\n        \"id\": 1845416,\n        \"name\": \"Подбор Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706188831000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": \"\",\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1713962400000,\n      \"id_label\": \"A014\",\n      \"price\": 0.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30301322,\n        \"name\": \"Лісничий Всеволод\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380673337775\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706186357000,\n        \"created_at\": 1706186357000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Мікулін Олексій\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235882,\n      \"created_by_id\": 235882,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4468762,\n        \"uid\": \"9-0028\",\n        \"title\": \"Автомобіль Nissan Ariya 2WD Top\",\n        \"color\": \"black\\\\black\",\n        \"state\": \"new\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Nissan\",\n        \"model\": \"Ariya\",\n        \"modification\": \"2WD Top\",\n        \"year\": \"2022\",\n        \"owner\": {\n          \"id\": 30301322,\n          \"name\": \"Лісничий Всеволод\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Лісничий Всеволод > Комірка 1\",\n          \"id\": 3117286,\n          \"cell_id\": 3144094,\n          \"client_id\": 30301322\n        }\n      },\n      \"brand\": \"Nissan\",\n      \"model\": \"Ariya\"\n    },\n    {\n      \"id\": 45827654,\n      \"modified_at\": 1707123695000,\n      \"uuid\": \"3b3d03d1-60b4-4a24-b300-9849c4faa4e3\",\n      \"status\": {\n        \"id\": 1814501,\n        \"name\": \"В роботі\",\n        \"color\": \"#5CB85C\",\n        \"group\": 2\n      },\n      \"created_at\": 1706256390000,\n      \"scheduled_for\": 1706256000000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [\n        {\n          \"id\": 101655,\n          \"name\": \"Підйомник 2\"\n        }\n      ],\n      \"custom_fields\": {},\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1707465600000,\n      \"id_label\": \"E16\",\n      \"price\": 4000.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63776435,\n          \"entityId\": 40314213,\n          \"engineerId\": 235780,\n          \"title\": \"Олива 75W-80\",\n          \"amount\": 2.500,\n          \"price\": 800.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [\n        {\n          \"id\": 63771451,\n          \"entityId\": 40316800,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи в передньому редукторі\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63771452,\n          \"entityId\": 40346644,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи в задньому редукторі\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63771453,\n          \"entityId\": 40346650,\n          \"engineerId\": 235780,\n          \"title\": \"Зняття та установка переднього бампера\",\n          \"amount\": 1.000,\n          \"price\": 0.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"id\": 63771454,\n          \"entityId\": 40346659,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна правого дзеркала\",\n          \"amount\": 1.000,\n          \"price\": 0.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30305209,\n        \"name\": \"Горбенко Дмитро\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380676315133\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706256138000,\n        \"created_at\": 1706256138000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Комаров Антон\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4470547,\n        \"uid\": \"LFVVB9E69N5042672\",\n        \"title\": \"Автомобіль Volkswagen ID.4 \",\n        \"color\": \"Білий\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30305209,\n          \"name\": \"Горбенко Дмитро\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Горбенко Дмитро > Комірка 1\",\n          \"id\": 3118461,\n          \"cell_id\": 3145269,\n          \"client_id\": 30305209\n        },\n        \"group_icon\": \"\",\n        \"f3370046\": \"AE 1010 ZC\"\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45863183,\n      \"modified_at\": 1706518923000,\n      \"uuid\": \"485ce5be-5bb5-46cf-8ca3-f77ddf36a504\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706517725000,\n      \"done_at\": 1706518923000,\n      \"scheduled_for\": 1706274000000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 1000.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {},\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706518923000,\n      \"estimated_done_at\": 1706349600000,\n      \"id_label\": \"E18\",\n      \"price\": 1000.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [\n        {\n          \"id\": 63839611,\n          \"entityId\": 40383353,\n          \"engineerId\": 235780,\n          \"title\": \"Діагностика зарядки\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30325463,\n        \"name\": \"Роман ВХ 2956\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380675632499\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706517513000,\n        \"created_at\": 1706517513000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Комаров Антон\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4478172,\n        \"uid\": \"LFVVB9F65M5009117\",\n        \"title\": \"Автомобіль Volkswagen ID.4 \",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30325463,\n          \"name\": \"Роман ВХ 2956\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > Роман ВХ 2956 > Комірка 1\",\n          \"id\": 3123487,\n          \"cell_id\": 3150298,\n          \"client_id\": 30325463\n        },\n        \"group_icon\": \"\",\n        \"f3370046\": \"ВХ 2956\"\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45877968,\n      \"modified_at\": 1706627756000,\n      \"uuid\": \"455468ac-e1e6-49f3-b5e1-c6bee03fe6b7\",\n      \"status\": {\n        \"id\": 1835792,\n        \"name\": \"Порт Отправки\",\n        \"color\": \"#5BC0DE\",\n        \"group\": 5\n      },\n      \"created_at\": 1706564583000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": \"\",\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1714309200000,\n      \"id_label\": \"A015\",\n      \"price\": 90000.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63870169,\n          \"entityId\": 40400943,\n          \"engineerId\": 231956,\n          \"title\": \"Bentley Arnaget\",\n          \"amount\": 1.000,\n          \"price\": 90000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30331951,\n        \"name\": \"Dmytro Kozhevnikov\",\n        \"email\": \"dmytriyko2016@gmail.com\",\n        \"phone\": [\n          \"956575484\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"Mechnikova, 10b\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706564538000,\n        \"created_at\": 1706564538000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Микулин\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 231956,\n      \"engineer_id\": 231956,\n      \"created_by_id\": 231956,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4481760,\n        \"uid\": \"9-0029\",\n        \"title\": \"Автомобіль Bentley Arnaget \",\n        \"color\": \"Light grey\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Bentley\",\n        \"model\": \"Arnaget\",\n        \"modification\": \"\",\n        \"year\": \"2022\",\n        \"owner\": {\n          \"id\": 30331951,\n          \"name\": \"Dmytro Kozhevnikov\"\n        },\n        \"warehouse\": {\n          \"title\": \"Electri4ka Салони > Склад виробів > Ячейка 1\",\n          \"id\": 3007439,\n          \"cell_id\": 3033650,\n          \"client_id\": \"\"\n        },\n        \"group_icon\": \"i-asset0\"\n      },\n      \"brand\": \"Bentley\",\n      \"model\": \"Arnaget\"\n    },\n    {\n      \"id\": 45881175,\n      \"modified_at\": 1706607815000,\n      \"uuid\": \"d225f05a-910b-4d42-90ac-7cb6ba466f39\",\n      \"status\": {\n        \"id\": 1814506,\n        \"name\": \"Закрито\",\n        \"color\": \"#939699\",\n        \"group\": 6\n      },\n      \"created_at\": 1706607148000,\n      \"done_at\": 1706607284000,\n      \"scheduled_for\": 1706601600000,\n      \"duration\": 60,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 1800.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [\n        {\n          \"id\": 101654,\n          \"name\": \"Підйомник 1\"\n        }\n      ],\n      \"custom_fields\": {},\n      \"estimated_cost\": \"0\",\n      \"closed_at\": 1706607815000,\n      \"estimated_done_at\": 1706607000000,\n      \"id_label\": \"E19\",\n      \"price\": 1800.00,\n      \"branch_id\": 151756,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [\n        {\n          \"id\": 63880507,\n          \"entityId\": 40314213,\n          \"engineerId\": 235780,\n          \"title\": \"Олива 75W-80\",\n          \"amount\": 1.000,\n          \"price\": 800.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"operations\": [\n        {\n          \"id\": 63880506,\n          \"entityId\": 40403469,\n          \"engineerId\": 235780,\n          \"title\": \"Заміна оливи в задьому редукторі\",\n          \"amount\": 1.000,\n          \"price\": 1000.00000,\n          \"cost\": 0E+3,\n          \"discount_value\": 0.0,\n          \"taxes\": [],\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 246543,\n        \"name\": \"Платний\"\n      },\n      \"client\": {\n        \"id\": 30334463,\n        \"name\": \"VW ID.4 AE 1171 AT\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380673343777\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706607090000,\n        \"created_at\": 1706607090000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Комаров Антон\"\n        },\n        \"ad_campaign\": {}\n      },\n      \"manager_id\": 235780,\n      \"created_by_id\": 235780,\n      \"closed_by_id\": 235780,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4483162,\n        \"uid\": \"LFVVB9E64N5018926\",\n        \"title\": \"Автомобіль Volkswagen ID.4 \",\n        \"color\": \"\",\n        \"state\": \"\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Volkswagen\",\n        \"model\": \"ID.4\",\n        \"modification\": \"\",\n        \"year\": \"\",\n        \"owner\": {\n          \"id\": 30334463,\n          \"name\": \"VW ID.4 AE 1171 AT\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client > VW ID.4 AE 1171 AT > Комірка 1\",\n          \"id\": 3126354,\n          \"cell_id\": 3153166,\n          \"client_id\": 30334463\n        },\n        \"group_icon\": \"\",\n        \"f3370046\": \"AE 1171 AT\"\n      },\n      \"brand\": \"Volkswagen\",\n      \"model\": \"ID.4\"\n    },\n    {\n      \"id\": 45881980,\n      \"modified_at\": 1706603934000,\n      \"uuid\": \"08566784-e21f-452b-8804-dba3a155358d\",\n      \"status\": {\n        \"id\": 1845415,\n        \"name\": \"Замовлення на Авто\",\n        \"color\": \"#1E79C7\",\n        \"group\": 1\n      },\n      \"created_at\": 1706603933000,\n      \"duration\": 0,\n      \"kindof_good\": \"\",\n      \"serial\": \"\",\n      \"packagelist\": \"\",\n      \"appearance\": \"\",\n      \"malfunction\": \"\",\n      \"manager_notes\": \"\",\n      \"engineer_notes\": \"\",\n      \"resume\": \"\",\n      \"payed\": 0.0,\n      \"missed_payments\": 0.0,\n      \"warranty_measures\": 0,\n      \"urgent\": false,\n      \"discount_sum\": 0.0,\n      \"resources\": [],\n      \"custom_fields\": {\n        \"f5897291\": \"\",\n        \"f7096057\": \"\",\n        \"f7108510\": \"\",\n        \"f7111319\": \"\",\n        \"f7111320\": \"\",\n        \"f7153440\": \"\"\n      },\n      \"estimated_cost\": \"0\",\n      \"estimated_done_at\": 1714379640000,\n      \"id_label\": \"A016\",\n      \"price\": 0.00,\n      \"branch_id\": 150860,\n      \"overdue\": false,\n      \"status_overdue\": false,\n      \"parts\": [],\n      \"operations\": [],\n      \"attachments\": [],\n      \"order_type\": {\n        \"id\": 249381,\n        \"name\": \"Заказ авто\"\n      },\n      \"client\": {\n        \"id\": 30333680,\n        \"name\": \"Олег Близнюк\",\n        \"email\": \"\",\n        \"phone\": [\n          \"380675652092\"\n        ],\n        \"notes\": \"от Козаченко, в качестве инвестиций. занимается виноградом как хобби, а так работает по самосвалам, ком.технике и т.д.\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1706603473000,\n        \"created_at\": 1706603473000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0.0,\n        \"discount_services\": 0.0,\n        \"discount_materials\": 0.0,\n        \"custom_fields\": {\n          \"f561220\": \"\",\n          \"f7178721\": \"Олексій Мікулін\"\n        },\n        \"ad_campaign\": {\n          \"id\": 400203,\n          \"name\": \"Знайомі\"\n        }\n      },\n      \"manager_id\": 235882,\n      \"created_by_id\": 235882,\n      \"ad_campaign\": {},\n      \"asset\": {\n        \"id\": 4482765,\n        \"uid\": \"9-0030\",\n        \"title\": \"Автомобіль Honda M-NV TOP\",\n        \"color\": \"white\\\\purple\",\n        \"state\": \"new\",\n        \"cost\": 0.0,\n        \"group\": \"Автомобіль\",\n        \"brand\": \"Honda\",\n        \"model\": \"M-NV\",\n        \"modification\": \"TOP\",\n        \"year\": \"2023\",\n        \"owner\": {\n          \"id\": 30333680,\n          \"name\": \"Олег Близнюк\"\n        },\n        \"warehouse\": {\n          \"title\": \"Client 
[...]
